@model IEnumerable<ExamStudent.Models.Refer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUserPanel.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefferLid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usercode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferalName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefferLid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usercode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferalName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReferID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReferID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReferID })
        </td>
    </tr>
}

</table>
