@model IEnumerable<ExamStudent.Models.Employee_Form_Temp>

@{
    ViewBag.Title = "EmployeeRefer";
    Layout = "~/Views/Shared/_LayoutAdmin2.cshtml";


}

<h2 class="main-title-w3layouts mb-2 text-center">Get All Employee List</h2>

@section styles{
    <!-- DataTables -->
    <link href="~/Content/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="~/Content/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

            /* Hide default HTML checkbox */
            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

            .slider.round:before {
                border-radius: 50%;
            }
    </style>



    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        /* Set a style for all buttons */
        button {
            background-color: #04AA6D;
            color: white;
           /* padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;*/
        }

            button:hover {
                opacity: 1;
            }

        /* Float cancel and delete buttons and add an equal width */
        .cancelbtn, .deletebtn {
            float: left;
            width: 50%;
        }

        /* Add a color to the cancel button */
        .cancelbtn {
            background-color: #ccc;
            color: black;
        }

        /* Add a color to the delete button */
        .deletebtn {
            background-color: #f44336;
        }

        /* Add padding and center-align text to the container */
        .container {
            padding: 16px;
            text-align: center;
        }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: #474e5d;
            padding-top: 50px;
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
        }

        /* Style the horizontal ruler */
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }

        /* The Modal Close Button (x) */
        .close {
            position: absolute;
            right: 35px;
            top: 15px;
            font-size: 40px;
            font-weight: bold;
            color: #f1f1f1;
        }

            .close:hover,
            .close:focus {
                color: #f44336;
                cursor: pointer;
            }

        /* Clear floats */
        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        /* Change styles for cancel button and delete button on extra small screens */
        @@media screen and (max-width: 300px) {
            .cancelbtn, .deletebtn {
                width: 100%;
            }
        }
    </style>
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />





<div class="">
    <div class=" table-responsive">

        <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
            <thead>
                <tr class="warning">
                    <th>
                        Name
                    </th>
                    <th>
                        Email Address
                    </th>
                    <th>
                        Emp State
                    </th>
                    <th>
                        City Name
                    </th>
                    <th>
                        Post Name
                    </th>
                    <th>
                        Mobile Number
                    </th>
                    <th>
                        Date
                    </th>

                    <th>
                        Password
                    </th>
                    <th>
                        Referal Code
                    </th>
                    <th>
                        Referl By Name
                    </th>

                    @*<th>
                            Referal Name
                        </th>*@
                    <th>Action</th>
                    <th>I Approve</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Emp_EmailAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmpState.Emp_State)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Emp_City.Emp_CityName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.PostForm.PostName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Emp_MobileNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Emp_Password)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.usercode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReferlName)
                        </td>

                        @*<td>
                                @Html.DisplayFor(modelItem => item.ReferalForm.ReferalName)
                            </td>*@



                        <td>

                            @Html.ActionLink("Edit", "Edit", "EmployeeAp", new { id = item.Employee_ID }, new { @class = "btn btn-primary far fa-edit" }) |

                            @*@Html.ActionLink("Delete", "Delete", "EmployeeAp", new { id = item.Employee_ID }, new { @class = "btn btn-danger" })*@
                         
                            <a href="#" class="btn btn-danger" onclick="ConfirmDelete(@item.Employee_ID)"><i class="glyphicon glyphicon-trash"></i> </a>

                        </td>
                        <td>

                            @if (item.IsApproved == true)
                            {
                                <label class="switch">
                                    <input type="checkbox" checked id="@item.Employee_ID" onchange="statusChange(this)">

                                    <span class="slider round"></span>
                                </label>
                            }
                            @if (item.IsApproved != true)
                            {
                                <label class="switch">
                                    <input type="checkbox" id="@item.Employee_ID" onchange="statusChange(this)">

                                    <span class="slider round"></span>
                                </label>
                            }


                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Delete Employee</h3>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to Remove this Employee?</h4>



            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <form action="../../EmployeeAp/Delete" method="post">
                    <input type="text" name="id" id="hiddenEmployeeId" hidden />
                    @*<a href="#" class="btn btn-success" onclick="DeleteEmployee()">Confirm</a>*@
                    <input type="submit" class="btn btn-danger" value="Delete" />
                </form>
            </div>

        </div>

    </div>

</div>
@section scripts{
    <!-- Required datatable js -->
    <script src="~/Content/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/Content/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/assets/libs/jszip/jszip.min.js"></script>
    <script src="~/Content/assets/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Content/assets/libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/Content/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="~/Content/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <!-- Datatable init js -->
    @*<script src="~/Content/assets/js/pages/datatables.init.js"></script>

        <script src="~/Content/assets/js/app.js"></script>*@
}

<script src="~/Content/assets/libs/jquery/jquery.min.js"></script>
<script>
    var ConfirmDelete = function (EmployeeId) {

        $("#hiddenEmployeeId").val(EmployeeId);
        $("#myModal").modal('show');

    }
    $(document).ready(function () {

        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        $('#datatable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5',
                'print'
            ]
        });

    });
    function statusChange(element) {
        var id = element.id;
        var status = element.checked;
        $.ajax({
            type: "Get",
            url: '../../Admin/UserStatus?checkid=' + id + '&&status=' + status + '',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function () {
            }
        });
    }


</script>
