@model IEnumerable<ExamStudent.Models.StudentBankDetail>

@{
    ViewBag.Title = "StudentBankDetails";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Student Bank Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IFSCCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountHolderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IFSCCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountHolderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentBankID } , new {@class = "btn btn-danger" }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudentBankID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StudentBankID })
        </td>
    </tr>
}

</table>
