
@model PayUmoneytry.Models.DemoModel

@{
    ViewBag.Title = "Demo";
}



<h2>PayUMoney Form MVC</h2>
@using (Html.BeginForm())
{
    <div style="margin-left:20px">
        @Html.Label("Amount")<br /> 
        @Html.TextBox("txtamount")<br />
        @Html.Label("First Name")<br />
        @Html.TextBox("txtfirstname")<br />
        @Html.ValidationMessageFor(model => model.FirstName, " ", new { @class = "text-danger" })
        @Html.Label("Email Id")<br />
        @Html.TextBox("txtemail")<br />
        @Html.ValidationMessageFor(model => model.Email, " ", new { @class = "text-danger" })
        @Html.Label("Product Information")<br />
        @Html.TextArea("txtprodinfo")<br />
        @Html.Label("Phone")<br />
        @Html.TextBox("txtphone")<br />
        <button type="submit">Submit</button>
    </div>


}

